.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 100;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/* button css */
a {
  text-decoration: none;
}

#wrapper {
  text-align: center;
  line-height: 1.5;
  line-height: 150%;
  font-size: 62.5%;
  width: 100%;
  overflow: hidden;
}

#btn-outline {
  margin: 30px auto 0;
  width: 210px;
  height: 40px;
  display: block;
}

#btn-outline .shape {
  stroke-dasharray: 100 310;
  stroke-dashoffset: -304;
  stroke-width: 5px;
  fill: transparent;
  stroke: #fff;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -ms-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#btn-outline .text {
  top: -34px;
  position: relative;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 4px;
  margin-right: -4px;
}

#btn-outline:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 550;
}

.no-svg #btn-outline {
  color: #fff;
  font-size: 1.7em;
  line-height: 40px;
  letter-spacing: 4px;
  text-indent: 4px;
  border: 2px solid #fff;
}
/* button css */
